.postsBlock {
    padding: 10px;
}

.posts {
    margin-top: 10px;
}

/* .required {
    border-color: red;
}

.requiredText {
    color: red;
    text-decoration: underline;
    font-weight: bold;
}

.errorContainer {
    display: flex;
    align-items: center;
    gap: 10px;
}
 */
