.friendsBlock {
    background-color: #83AFFF;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.friends {
    display: flex;
    gap:10%
}

.item a {
    color: black;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ava {
    border-radius: 50%;
}